<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Welcome to TEXTUTILS. Enter your text here.</h1>
    <form action="/analyze" method="get">
        <textarea name="text" style="margin: 0px; width: 1000px; height: 120px;"></textarea><br>
        <input type="checkbox" name="removepunc">Remove Punctuations
        <input type="checkbox" name="capitalize">UPPERCASE
        <input type="checkbox" name="charcount">Charater Counting
        <input type="checkbox" name="extraspaceremover">Removing extra spaces<br>

        <button type="submit">Analyze Text</button>

    </form>
</body>
</html>